html {
  font-size: 16px;
}

body {
  margin: 0;
}

input, select, button {
  margin: 0 2px;
  padding: 0;
  padding-left: 5px;
  line-height: unset;
  font-size: 1rem;
}

table {
  margin: 0 auto;
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: url(/img/down-arrow.png) right / 20px no-repeat #fff;
   padding-right: 20px;
}

button[disabled="disabled"] {
  opacity: 0.3;
  &:hover {
    border-color: #bbb;
    color: #555;
    cursor: not-allowed;
  }
}

button {
  padding: 3px 10px;
}

@media (max-width: 700px) {
  button {
	padding: 2px 8px;
  }  
}

tt {
  font-family: Courier !important;
}

a {
  &:hover {
    cursor: pointer;
  }
}

.link {
  &:hover {
    cursor: pointer !important;
  }
}
h2 {
  tt {
    font-size: 30px;
    font-weight: bold;
 }
}

th, td {
  padding: 5px;
}

hr {
  margin: 5px;
}

//
// h2 {
//   font-size: 2rem;
//   margin-bottom: 0;
// }
// h3 {
//   font-size: 1.6rem;
//   color: #777;
// }

//
button {

	&.primary {
	}

	&.secondary {
		border: none;
		background: #999;
		color: #fff;
	}

	&.danger {
	}

	&.test {
	}

	&.stop {
		border-color: #f00;
		border-width: 2px;
		color: #c00;
	}
}

.pointer:hover {
  cursor: pointer;
}

.center {
  text-align: center !important;
}

svg.fa-icon {
  width: 1.3rem;
  height: 1.3rem;
}
